---
title: دەربارەی ئێمە
description: 
---

<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="{{ person.link }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
	
	</section>
	<section class="bottom-cta">

<div class="center-text"></ul>
پەرەپێدان و کارکردن لەم تەختەکلیلەدا لە ئەنجامی ماندووبونی بەردەوامە بۆ ماوەی نزیکەی شەش ساڵ بە شەو و ڕۆژ و پڕۆژەیەکی تاکە کەسییە بۆ زیاتر بەرەوپێشبردنی زمانی کوردی و خزمەتکردنی تاکی کورد تا بە کیبۆردێکی باش و سەرکەوتووی کوردی بنوسن و چیتر کیبۆردەکانی وەک ( فارسی ، عەرەبی ، لاتینی ) نەبنە جێگرەوەی زمانی ڕەسەنی خۆمان و بتوانین ئێمەش وەک هەموو گەلانی جیهان خاوەن کیبۆرد و ڕێنووسی تایبەت بە خۆمان بین
<ul>
</div>

<div class="center-text"></ul>
بیرۆکەی دروستکردنی ئەم بەرنامەیە ئەگەڕێتەوە بۆ ساڵی 2011 کاتێ دەستمکرد بە کاری وەرگێڕان لە بەرنامەکانی کۆمپیوتەر و مۆبایل بە تایبەتی بۆیە هەستاین بەدانانی پەڕەیەکی تایبەت هەتا سەرجەم ئەو کار و بەرنامانەی کردومانە بە کوردی لەڕێیەوە بڵاوی بکەینەوە بۆ ئەوەی هەموو کەسێک لێی سوود مەند بێت
<ul>
</div>

<div class="center-text"></ul>
بۆیە تکایە وەک پشتگیریەک بۆ ئێمە و بەردەوامبوون لە کارەکانمان لە گۆگڵ پلەی کیبۆردەکە بە پێنج ئەستێرە پۆڵێن بکەو و ڕاو سەرنجی خۆتی لەسەر بنووسە
<ul>
</div>


<div class="center-text"></ul>
بۆ گەیاندنی ڕاو و سەرنج و پیشنیارەکانتان یان لەکاتی بوونی هەر کێشەیەکدا، تکایە پەیوەندی بکە بە پەیجەکەمانەوە
<ul>
	
                                     <div class="center-text">
		<div class="cta button alt"><a href="https://m.me/kurddroid" target="_blank" rel="noopener">کوردرۆید لە فەیسبووک</a></div>

                                     <div class="center-text">

<div class="center-text">
		<h4 class="editable">CopyRight ©2011  Goran Gharib Karim</h4>
</section>	
</div>