@font-face {
    font-family: 'SiRWAN_001';
    src: url('SiRWAN_001.eot');
    src: url('SiRWAN_001.eot?#iefix') format('embedded-opentype'),
        url('SiRWAN_001.woff2') format('woff2'),
        url('SiRWAN_001.woff') format('woff'),
        url('SiRWAN_001.ttf') format('truetype'),
        url('SiRWAN_001.svg#SiRWAN_001') format('svg');
    font-weight: normal;
    font-style: normal;
}

